---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const images = [
  {
    url: "/tartas/5.png",
    title: "Tarta de Chocolate",
    description: "Una deliciosa tarta de chocolate con glaseado.",
  },
  {
    url: "/tartas/9.png",
    title: "Tarta de Fresa",
    description: "Tarta de fresa con capas esponjosas y fresas frescas.",
  },
  {
    url: "/tartas/11.png",
    title: "Tarta de Vainilla",
    description: "Tarta clásica de vainilla con cobertura de crema.",
  },
  {
    url: "/tartas/1.png",
    title: "Tarta de Limón",
    description: "Tarta refrescante de limón con relleno cremoso.",
  },
  {
    url: "/tartas/2.png",
    title: "Tarta de Hulk",
    description: "Tarta de zanahoria con crema de queso.",
  },
  {
    url: "/tartas/3.png",
    title: "Tarta de Almendra",
    description: "Tarta con base de almendras y decorada con frutas.",
  },
];
---

<Layout title="DC Pastel - Galería">
  <main
    class="max-w-6xl mx-auto py-12 flex flex-col items-center justify-center"
  >
    <h1
      class="text-pink-600 font-bold text-4xl md:text-6xl mb-12 animate-fade-in text-shadow-pink text-center"
      transition:name="title-principal"
    >
      Galería de tartas
    </h1>

    <section
      class="grid grid-cols-1 place-content-center sm:grid-cols-2 lg:grid-cols-3 gap-10"
    >
      {
        images.map((card, index) => (
          <Card
            key={index}
            url={card.url}
            title={card.title}
            description={card.description}
            class={`animate-fade-in-delay-${index * 200}`}
          />
        ))
      }
    </section>
  </main>
</Layout>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .animate-fade-in-delay-0 {
    animation: fadeIn 0.8s ease-out 0s forwards;
  }

  .animate-fade-in-delay-200 {
    animation: fadeIn 0.8s ease-out 0.2s forwards;
  }

  .animate-fade-in-delay-400 {
    animation: fadeIn 0.8s ease-out 0.4s forwards;
  }

  .animate-fade-in-delay-600 {
    animation: fadeIn 0.8s ease-out 0.6s forwards;
  }

  .animate-fade-in-delay-800 {
    animation: fadeIn 0.8s ease-out 0.8s forwards;
  }
</style>
