---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="La mejor tienda de tartas de Madrid y todas espa単a ven y compra el mejores tartes del mundo"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <!-- Open Graph (para Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="La mejor tienda de tartas de Madrid y Espa単a."
    />
    <meta property="og:image" content="/logo.webp" />
    <meta property="og:url" content="https://dcpastel.es/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="La mejor tienda de tartas de Madrid y Espa単a."
    />
    <meta name="twitter:image" content="/logo.webp" />
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    background: url("/video-dc-pastel.webp");
    background-size: cover;
    background-position: center;
  }

  body {
    background: rgb(255, 56, 229);
    background: radial-gradient(
      circle,
      rgba(255, 56, 229, 0.1) 0%,
      rgba(255, 39, 238, 0.1) 48%,
      rgba(255, 0, 144, 0.1) 97%
    );
    background-size: 200% 200%; /* Aumenta el tama単o del fondo para que se mueva */
    animation: gradientBackground 10s ease infinite;
  }

  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text-shadow {
    text-shadow: 2px 2px 3px black;
  }

  .text-shadow-pink {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
</style>
